body { background:url(../images/bg_new.png) repeat-x left top #d4d3d3; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 12px; color: #333; }
a, a:active, a:link, a:visited { text-decoration:none; color: #069; }
a:hover { text-decoration: underline; color: #C00; }
/*li, ul {margin:0; padding:0;}*/
#logo { font-size:24px; font-style:italic; font-weight:normal; color:white; line-height:30px; }
#header { background:url(../images/bg_header_blue.gif) left top no-repeat; height:123px; }
#content { background:url(../images/bg_content.gif) left top repeat-x #FFFFFF; width:938px !important; border-left:1px solid #9c9c9c; border-right:1px solid #9c9c9c; padding: 10px 0px; min-height: 470px;height: 470px}
#textcontent { padding:10px !important; width:900px !important; }
#wrapper { padding-bottom:10px !important; background:url(../images/bg_content_bottom.gif) center bottom no-repeat;  }
#footer { padding:15px  20px; color: #666; font-size:11px; }
.hidden { display:none; }
.text { padding:10px 15px; }
.nopadding { padding:0px !important; }
.floatLeft { float:left; }
.floatRight { float:right; }
a.edit_icon { background:url(../images/icons/edit.gif) no-repeat left top; display:inline-block; width: 16px; height:16px; }
a.delete_icon { background:url(../images/icons/action_delete.gif) no-repeat left top; display:inline-block; width: 16px; height:16px; }
a.approve_icon { background:url(../images/icons/action_check.gif) no-repeat left top; display:inline-block; width: 16px; height:16px; }
a.reject_icon { background:url(../images/icons/action_remove.gif) no-repeat left top; display:inline-block; width: 16px; height:16px; }

a.edit_inline { background:url(../images/icons/add_small.png) no-repeat left top; display:inline-block; line-height:16px; color: #069 !important; font-size:10px; padding-left:20px; margin-right:5px; }
a.edit_cal { background:url(../images/icons/calendar.gif) no-repeat left top; display:inline-block; line-height:16px; color: #069 !important; font-size:10px; padding-left:20px; margin-right:5px; }

a.delete_inline { background:url(../images/icons/action_delete.gif) no-repeat left top; display:inline-block; line-height:16px; color: #D23333 !important; font-size:10px; padding-left:20px; margin-right:5px; }
a.reject_inline { background:url(../images/icons/action_remove.gif) no-repeat left top; display:inline-block; line-height:16px; color: #D23333 !important; font-size:10px; padding-left:20px; margin-right:5px; }
a.approve_inline { background:url(../images/icons/action_check.gif) no-repeat left top; display:inline-block; line-height:16px; color: #5a801b !important; font-size:10px; padding-left:20px; margin-right:5px; }
a.req_inline { background:url(../images/icons/application_form_edit.png) no-repeat left top;    display:inline-block; line-height:16px; color: #5a801b !important; font-size:10px; padding-left:20px; margin-right:5px; }
a.save_inline { background:url(../images/icons/bullet_disk.png) no-repeat left top; display:inline-block; line-height:16px; color: #069 !important; font-size:10px; padding-left:20px; margin-right:5px; }
a.historial_inline { background:url(../images/icons/historial.png) no-repeat left top; display:inline-block; line-height:16px; color: #069 !important; font-size:10px; padding-left:20px; margin-right:5px; }
a.pdf_inline { background:url(../images/icons/pdf.png) no-repeat left top; display:inline-block; line-height:16px; color: #069 !important; font-size:10px; padding-left:20px; margin-right:5px; }
a.excel_inline { background:url(../images/icons/excel.png) no-repeat left top; display:inline-block; line-height:16px; color: #069 !important; font-size:10px; padding-left:20px; margin-right:5px; }
a.enviar_inline { background:url(../images/icons/Forward.png) no-repeat left top; display:inline-block; line-height:16px; color: #069 !important; font-size:10px; padding-left:20px; margin-right:5px; }
a.print_inline { background:url(../images/icons/printer.png) no-repeat left top; display:inline-block; line-height:16px; color: #069 !important; font-size:10px; padding-left:20px; margin-right:5px; }
a.search_inline { background:url(../images/icons/zoom.png) no-repeat left top;  display:inline-block; line-height:16px; color: #069 !important; font-size:10px; padding-left:20px; margin-right:5px; }
.news_items li { margin-left:5px; padding-bottom:5px; border-bottom:1px solid #cccccc !important; }
a.hist_inline { background:url(../images/icons/application_form_edit.png) no-repeat left top; display:inline-block; line-height:16px; color: #D23333 !important; font-size:10px; padding-left:20px; margin-right:5px; }
.cblack{font-size:10px;color:#000 !important;}
a.cblack{font-size:10px;color:#000 !important;}
.disabledNew{background:#dedede !important;}

/*******************************************************************************
  HEADING CLASSES
*******************************************************************************/
h1 { font-size:22px; color: #1b486a; display: block; margin-top: 10px;}
h1.dashboard { background:url(../images/icon_dashboard_small.gif) left 3px no-repeat; padding-left:35px;}
h1.content_edit { background:url(../images/icon_content_small.gif) left 3px no-repeat; padding-left:35px;}
h1.commissions_edit { background:url(../images/money.png) left 3px no-repeat; padding-left:35px;}
h1.calendar_edit { background:url(../images/iCal.png) left 1px no-repeat; padding-left:35px;}
h1.search_edit { background:url(../images/glass.png) left 3px no-repeat; padding-left:35px;}
h1.list_edit { background:url(../images/contact.png) left 1px no-repeat; padding-left:35px;}
h1.list2_edit { background:url(../images/notes.png) left 3px no-repeat; padding-left:35px;}
h1.prod_edit { background:url(../images/gear.png) left 3px no-repeat; padding-left:35px;}
h1.money_edit { background:url(../images/money.png) left 3px no-repeat; padding-left:35px;}
h1.web_edit { background:url(../images/website.png) left 3px no-repeat; padding-left:35px;}
h1.address_edit { background:url(../images/address.png) left 1px no-repeat; padding-left:35px;}
h1.company_edit { background:url(../images/house.png) left 0px no-repeat; padding-left:35px;}
h1.user_edit { background:url(../images/users_32.png) left 1px no-repeat; padding-left:35px;}
h1.prize_com { background:url(../images/users_32.png) left 1px no-repeat; padding-left:35px;}
h1.contactos_edit { background:url(../images/concurso.png) left 3px no-repeat; padding-left:35px;}
h1.new_edit { background:url(../images/Note.png) left 1px no-repeat; padding-left:35px;}
h1.prod_edit { background:url(../images/Ball.png) left 1px no-repeat; padding-left:35px;}

h1.agenda_edit { background:url(../images/menu/agenda_small.png) left 1px no-repeat; padding-left:45px;}
h1.pedidos_edit { background:url(../images/menu/pedidos_small.png) left 1px no-repeat; padding-left:45px;}
h1.usuarias_edit { background:url(../images/menu/usuarias_small.png) left 1px no-repeat; padding-left:45px;}
h1.usuarios_edit { background:url(../images/menu/usuarios_small.png) left 1px no-repeat; padding-left:45px;}
h1.curriculums_edit { background:url(../images/menu/curriculums_small.png) left 1px no-repeat; padding-left:45px;}
h1.trayectoria_edit { background:url(../images/menu/trayectoria_small.png) left 1px no-repeat; padding-left:45px;}
h1.noticias_edit { background:url(../images/menu/noticias_small.png) left 1px no-repeat; padding-left:45px;}
h1.opciones_edit { background:url(../images/menu/opciones_small.png) left 1px no-repeat; padding-left:45px;}

h2 { font-size:18px !important; margin-bottom:10px;}
h3 { font-size: 13px !important; }
h4 { font-size: 10px !important; font-weight:normal; margin:0;}
.celeste {color: #069 !important; }
.naranja {color: #E89326 !important; }
.fechas { font-size: 13px !important; font-weight:bold !important; }
.fondogris { background:#F2F2F2; padding:15px; }
.usuario-com { background:url(../images/icons/user-16.png) left 3px no-repeat; padding-left:25px;}
/*******************************************************************************
  EVENTBOX (title -> rightbox)
*******************************************************************************/
#eventbox {
    font-size:11px;
    text-align:right;
    margin-top: 10px;
    line-height:35px;
    width: 375px !important;
    position:relative;
}
a.inline_calendar { padding-left:21px; background:url(../images/icons/calendar.gif) no-repeat left top; }
a.inline_tip { padding-left:21px; background:url(../images/icons/lightbulb_off.gif) no-repeat left top; }
.hidden_calendar { position:absolute; top:35px; right:20px; width:200px; height:200px; display:none; }
.hidden_calendar { line-height:normal !important;}
.hidden_calendar .ui-datepicker .ui-datepicker-prev span, .hidden_calendar .ui-datepicker .ui-datepicker-next span {
    text-indent:-99999px !important;
}
/*******************************************************************************
  USER TOOLS
*******************************************************************************/
#user_tools {
    /*    background:url(../images/bg_usertools_right.gif) right top no-repeat;*/
    height:34px;
    padding-right:9px;
    float:right;
}
#user_tools span {
    background: #010152;
    height:34px;
    padding-left:12px;
    padding-right:12px;
    line-height: 34px;
    font-size:12px;
    color: #b0b0b0;
    display:block;
    float:right;
    margin-top:0px;
}
#user_tools a { color: #FFF; text-decoration:none; }
#user_tools a:hover { text-decoration:underline; }
#user_tools a.mail { background: url(../images/icon_mail_small.gif) left 2px no-repeat; padding-left:17px; margin-right:5px; }
#user_tools a.mail:hover { text-decoration:none !important; }
.dropdown { background:url(../images/arrow_mini_down.gif) no-repeat right 3px; padding-right:13px; }
#colorchanger { z-index: 8; display: none; position:absolute; color: white; top:33px; right:35px; border-left:1px solid #333; border-right: 1px solid #333; background:black; width:100px;}
#colorchanger a { padding:5px; border-bottom:1px solid #333; color: #FFF; display: block; font-size: 10px; text-decoration:none; }
#colorchanger a:hover { background: #222; }
#colorchanger span.redtheme { background: url(../images/bullet_red.gif) left 0px no-repeat; padding-left:16px;  }
#colorchanger span.bluetheme { background: url(../images/bullet_blue.gif) left 0px no-repeat; padding-left:16px; }
#colorchanger span.greentheme { background: url(../images/bullet_green.gif) left 0px no-repeat; padding-left:16px; }
/*******************************************************************************
  MENU
*******************************************************************************/
#menu {
    float: left;
}
#menu ul.group {
    margin: 12px 0px 0px 14px;
    padding: 0px 0px 0px;
    list-style: none;
    float: left;
    z-index:4;
}
#menu ul.group li {
    display: inline;
    float: left;
    position: static;
    z-index: 5;
    margin-left:0px !important;
}
#menu ul.group li a {
    display: block;
    float: left;
    height: 100px;
    width: 114px;
    overflow:hidden;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-decoration:none;
    text-align:center;
    z-index:6;
}
#menu ul.group li a * {
    cursor: pointer;
}
#menu ul.group li a span.outer {
    display: block;
    height: 90px;
    padding-top: 10px
}
#menu ul.group li a span.inner {
    display: block;
    padding: 55px 10px 9px 10px;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: 50% 3px;
}
#menu ul.group li a {
    background:url('../images/navigation_background_blue.gif') repeat-x top left;
}
#menu ul.group li.first a {
    background:url('../images/navigation_first_blue.gif') no-repeat top left;
}
#menu ul.group li.last a {
    background:url('../images/navigation_last_blue.gif') no-repeat top right;
}
#menu ul.group li.last a span.inner {
    border: none !important;
}

#menu ul.group li a:hover, #menu ul.group li a.hover {
    background-position: bottom left;
    text-decoration: none;
}
#menu ul.group li.last a:hover, #menu ul.group li.last a.hover  {
    background-position: bottom right;
}
#menu ul.group li a.current {
    background-position: bottom left;
    text-decoration: none;
}
#menu ul.group li.last a.current  {
    background-position: bottom right;
}
#menu ul.group li.first a.current  {
    background-position: bottom left;
}

#menu ul.group li a span.inner {
    border-right: 1px solid #4985b2;
}
#menu ul.group li a:hover span.inner {
    border-right: 1px solid #4985b2;
}
#menu ul.group li a.more {
}
#menu .additional a span {
    border-right:1px solid #DFDCBB;
}
#menu .dashboard { background-image: url(../images/icon_dashboard.png); background-repeat: no-repeat; }
#menu .usuarias { background-image: url(../images/menu/usuarias.png); background-repeat: no-repeat;  }
#menu .indumentaria { background-image: url(../images/menu/indumentaria.png); background-repeat: no-repeat; }
#menu .descargas { background-image: url(../images/menu/descargas.png); background-repeat: no-repeat;  }
#menu .pedidos { background-image: url(../images/menu/pedidos.png); background-repeat: no-repeat;  }
#menu .agenda { background-image: url(../images/menu/agenda.png); background-repeat: no-repeat;  }
#menu .curriculums { background-image: url(../images/menu/curriculums.png); background-repeat: no-repeat;  }
#menu .trayectoria { background-image: url(../images/menu/trayectoria.png); background-repeat: no-repeat;  }
#menu .noticias { background-image: url(../images/menu/noticias.png); background-repeat: no-repeat;  }
#menu .reclamos { background-image: url(../images/menu/reclamos.png); background-repeat: no-repeat;  }
#menu .reportes { background-image: url(../images/menu/bar_chart.png); background-repeat: no-repeat;  }
#menu .opciones { background-image: url(../images/menu/opciones.png); background-repeat: no-repeat;  }
#menu .usuarios { background-image: url(../images/menu/usuarios.png); background-repeat: no-repeat;  }
#menu .settings { background-image: url(../images/menu/paper&pencil.png); background-repeat: no-repeat;  }
#menu .newsletter { background-image: url(../images/reclamos_icon.png); background-repeat: no-repeat;  }
#menu .disabled.newsletter { background-image: url(../images/reclamos_icon_disabled.png); background-repeat: no-repeat;  }
#hidden_submenu {
    background:#FFF;
    padding:10px;
    display:none;
    width:918px !important;
    border-left: 1px solid #9C9C9C;
    border-right: 1px solid #9C9C9C;
    border-bottom: 1px solid #CCC;
}
#hidden_submenu .more_menu { float:left; margin: 10px 5px; }
#hidden_submenu .more_menu li { margin-left: 30px; }
/*******************************************************************************
  TABS
*******************************************************************************/

#tabs {
}

#tabs .container {
    height: 25px;
    padding-top: 8px;
    border-left: 1px solid #397cae;
    border-right: 1px solid #397cae;
    border-bottom: 1px solid #346a92;
    width: 938px !important;
    background: #eee;
}

#tabs ul {
    margin: 0px 0px 0px 10px;
    padding: 0px;
    list-style: none;
}

#tabs ul li {
    display: inline;
}

#tabs ul li a {
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    float: left;
    height: 25px;
    margin-right: 3px;
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
    border-bottom: 0px;
    background: #DEDEDE;
    text-decoration:none;
    color: #FFFFFF;
}

#tabs ul li a:hover {
    text-decoration: underline;
    background-color: #FFFFFF;
}

#tabs ul li a span {
    height: 20px;
    padding: 0px 10px;
    display: block;
    padding-top: 5px;
    cursor: pointer;
    white-space: nowrap;
}

#tabs ul li a.current {
    background-color: #FFFFFF;
    color: #1b486a;
}
#tabs ul li.first a span {
    padding-left: 15px;
    padding-right: 15px;
}
#tabs {
    background: #639ecb;
}

#tabs .container {
    background:url('../images/tabs_bg.gif.html') repeat-x left top;
    border-bottom: none;
}

#tabs ul li a {
    background: url('../images/tabs_left.gif') no-repeat left top;
    border: 0px;
}

#tabs ul li a span {
    background: url('../images/tabs_right.gif') no-repeat right top;
}

#tabs ul li a.current {
    background-position: left bottom;
}

#tabs ul li a.current span {
    background-position: right bottom;
}
#tabs ul li a.tempoff {
    background-position: left top;
}

#tabs ul li a.tempoff span {
    background-position: right top;
}

#tabs ul li.first a{
    color: #1b486a !important;
}
/*******************************************************************************
  PORTLETS AND GRID
*******************************************************************************/
#portlets { padding:0px 10px; }
.column { width: 450px; float: left; padding-bottom: 0px; }
.column#left { margin-right:17px; }
.portlet { margin: 0 0em 1em 0; }
.portlet-header { margin: 0em; padding-bottom: 5px; padding-left: 6px; padding-top:4px; padding-right:6px; font-size:12px; border: none !important; color: #fff !important; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.portlet-header a { color: #fff !important; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; }
.portlet-header a:hover { color: #fff !important; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:underline; }
.portlet-header .ui-icon { float: right; cursor:pointer; }
.portlet-header img { float:left; margin-right:5px; }
#portlets .fixed { cursor:auto; }
.portlet-content { padding: 0.8em; font-size:12px !important; color: #333; border-top:1px solid #999; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; height:170px; }
.ui-sortable-placeholder { border: 1px dashed #999 !important; visibility: visible !important; height: 100px !important; background: #EBEBEB;}
.ui-sortable-placeholder * { visibility: hidden; }


#portlets2 { padding:0px 10px; width:200px; }
.portlet2 { margin: 0 0em 1em 0; }
.portlet2-header { margin: 0em; padding-bottom: 5px; padding-left: 6px; padding-top:4px; padding-right:6px; font-size:12px; border: none !important; color: #333 !important; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; cursor:move; }
.portlet2-header .ui-icon { float: right; cursor:pointer; }
.portlet2-header img { float:left; margin-right:5px; }
#portlets2 .fixed { cursor:auto; }

/*******************************************************************************
  Informational Messages
*******************************************************************************/
.info  {
    display: block;
    background: url('../images/informationbar_right.gif') no-repeat right top;
    height: 30px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom:10px !important;
    padding: 0px !important;
    font-size: 12px !important;
    font-weight: bold;
    cursor: pointer;
    border: 0px;
    font-style: italic;
}
.info .info_inner {
    display: block;
    height: 30px;
    padding: 6px 10px 0px 35px;
}
#success .info_inner {
    color: #5a801b;
    background: url('../images/icon_success.gif') no-repeat left top;
    border: 0px;
}
#warning .info_inner {
    color: #E89326;
    background: url('../images/icon_warning.gif') no-repeat left top;
    border: 0px;
}
#error .info_inner {
    color: #C00;
    background: url('../images/icon_error.gif') no-repeat left top;
    border: 0px;
}
#info .info_inner {
    color: #4985B2;
    background: url('../images/icon_info.gif') no-repeat left top;
    border: 0px;
}
/*******************************************************************************
  TABLE DESIGN
*******************************************************************************/
#box-table-a {
    font-size: 11px;
    margin: 0px;
    text-align: left;
    border-collapse: separate;
    border-bottom:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#box-table-a th {
    font-size: 11px;
    font-weight: normal;
    padding: 8px;
    background: #EFEFEF;
    border-top: 1px solid #FFF;
    color: #333;
    text-align: left;
}
#box-table-a td {
    padding: 4px 0px;
    background: none;
    border-top: 1px solid #CCC;
    color: #666;
    border-bottom: none !important;
}
#box-table-a tr:hover td {
    background: #FBFBFB;
    color: #333;
}
#box-table-a tr.footer { background: none !important; }
#box-table-a tr.footer:hover td { background: none !important;  }


/*******************************************************************************
  PAGINATION
*******************************************************************************/
.pagination { border:0; margin:0; padding:0; font-size:10px; float:right; margin-top:5px;}
.pagination a { border:solid 1px #DEDEDE; margin-right:2px; color: #006699 !important; }
.pagination .previous-off, .pagination .next-off { color:#888888; display:inline-block; font-weight:normal; padding:3px 4px; }
.pagination .next a,.pagination .previous a { font-weight:bold; border:solid 1px #FFFFFF; }
.pagination .active{ color:#000000; font-weight:bold; display:inline-block; padding:4px 6px; }
.pagination a:link, .pagination a:visited { display:inline-block; padding:3px 6px; text-decoration:none; }
.pagination a:hover{ text-decoration:none; border: 1px solid #999; }

.paginationNew { border:0; margin:0; padding:0; font-size:9px; float:right; margin-top:5px;}
.paginationNew a { border:solid 1px #FFFFFF; margin-right:2px; color: #006699 !important; font-size:9px;}
.paginationNew .previous-off, .pagination .next-off { color:#888888; display:inline-block; font-weight:normal; padding:3px 4px; }
.paginationNew .next a,.pagination .previous a { font-weight:bold; border:solid 1px #FFFFFF; }
.paginationNew .active{ color:#000000; font-weight:bold; display:inline-block; padding:4px 6px; }
.paginationNew a:link, .pagination a:visited { display:inline-block; padding:3px 6px; text-decoration:none; }
.paginationNew a:hover{ text-decoration:none; border: 1px solid #999; }

/*******************************************************************************
  FORMS
*******************************************************************************/
form label { display:block !important; line-height:normal !important; margin: 5px 0px;  font-size:11px; font-weight:normal; }
.form-label {margin:2px 5px 0px 0px;  font-size:12px; font-weight:normal; text-align:right; float:left;}
.form-label2 {margin:2px 5px 0px 0px; padding-left:10x; font-size:12px; font-weight:normal; text-align:left; float:left;}
input[type=text] { display:block !important; }
textarea { display:block; }
.smallInput { padding:3px 3px; border:1px solid #999; background:#FFFFFF; font-size:11px !important; color: #333 !important; font-style:normal; }
.largeInput { padding:6px 5px; border:1px solid #999; background:#EEEEE0; font-size:12px !important; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif !important; color: #333 !important; }
form .small { width:150px; }
form .medium { width:350px; }
form .wide { width:890px; }
.form-administrar {margin-bottom:5px; float:left; width:240px;}
.form-administrar2 {margin-bottom:5px; float:left; width:140px; height: 26px;}
.form-administrar2 label{float:left; width: 105px; height: 26px;}
.form-administrar2 input{float:left;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .form-administrar, .form-administrar2 {margin-bottom:1px;}
}


.form-cuadros {margin-bottom:10px; *margin-bottom:11px;float:left; width:340px;}
.form-cuadros2 {margin-bottom:10px; *margin-bottom:11px; float:left; width:420px;}
.button {
    margin: 0px;
    padding: 0px !important;
    border: 0px;
    background: transparent url('../images/but_right_blue.gif') no-repeat scroll top right;
    color: #1b486a;
    display: block;
    float: left;
    height: 29px;
    margin-right: 6px;
    margin-top:10px;
    padding-right: 12px !important;
    text-decoration: none;
    overflow: hidden;
    font-size: 12px;
    outline: none !important;
    cursor: pointer;
    font-weight: bold;
}
.button span {
    background: url('../images/but_left_blue.gif') no-repeat left top;
    display: block;
    line-height: 29px;
    padding: 0px 0px 0px 12px;
    outline: none !important;
    float:left;
}
.button:hover {
    background-position: right bottom;
    text-decoration:none !important
}
.button:hover span {
    background-position: left bottom;
    color: #1b486a;
}
.button_grey {
    margin: 0px;
    padding: 0px !important;
    border: 0px;
    background: transparent url('../images/but_right_grey.gif') no-repeat scroll top right;
    color: #555;
    display: block;
    float: left;
    height: 30px;
    margin-right: 6px;
    margin-top:10px;
    padding-right: 12px !important;
    text-decoration: none;
    overflow: hidden;
    font-size: 12px;
    outline: none !important;
    cursor: pointer;
    font-weight: bold;
}
.button_grey span {
    background: url('../images/but_left_grey.gif') no-repeat left top;
    display: block;
    line-height: 30px;
    padding: 0px 0px 0px 12px;
    outline: none !important;
    float:left;
}
.button_grey:hover {
    background-position: right bottom;
    text-decoration:none !important
}
.button_grey:hover span {
    background-position: left bottom;
    color: #333;
}
.button_ok {
    margin: 0px;
    padding: 0px !important;
    border: 0px;
    background: transparent url('../images/but_round_span_blue.gif') no-repeat scroll top right;
    color: #1b486a;
    display: block;
    float: left;
    height: 30px;
    margin-right: 6px;
    margin-top:10px;
    padding-right: 15px !important;
    text-decoration: none;
    overflow: hidden;
    font-size: 12px;
    outline: none !important;
    cursor: pointer;
    font-weight: bold;
}
.button_ok span {
    background: url('../images/but_round_ok_blue.gif') no-repeat left top;
    display: block;
    line-height: 30px;
    padding: 0px 0px 0px 35px;
    outline: none !important;
    float:left;
}
.button_ok:hover {
    background-position: right bottom;
    text-decoration:none !important
}
.button_ok:hover span {
    background-position: left bottom;
    color: #1b486a;
}
.button_notok {
    margin: 0px;
    padding: 0px !important;
    border: 0px;
    background: transparent url('../images/but_round_span_blue.gif') no-repeat scroll top right;
    color: #1b486a;
    display: block;
    float: left;
    height: 30px;
    margin-right: 6px;
    margin-top:10px;
    padding-right: 15px !important;
    text-decoration: none;
    overflow: hidden;
    font-size: 12px;
    outline: none !important;
    cursor: pointer;
    font-weight: bold;
}
.button_notok span {
    background: url('../images/but_round_del_blue.gif') no-repeat left top;
    display: block;
    line-height: 30px;
    padding: 0px 0px 0px 35px;
    outline: none !important;
    float:left;
    font-style: italic;
}
.button_notok:hover {
    background-position: right bottom;
    text-decoration:none !important
}
.button_notok:hover span {
    background-position: left bottom;
    color: #1b486a;
}
.button_grey_round {
    margin: 0px;
    padding: 0px !important;
    border: 0px;
    background: transparent url('../images/but_round_span_grey.gif') no-repeat scroll top right;
    color: #555;
    display: block;
    float: left;
    height: 30px;
    margin-right: 6px;
    margin-top:10px;
    padding-right: 12px !important;
    text-decoration: none;
    overflow: hidden;
    font-size: 12px;
    outline: none !important;
    cursor: pointer;
    font-weight: bold;
}
.button_grey_round span {
    background: url('../images/but_round_left_grey.gif') no-repeat left top;
    display: block;
    line-height: 30px;
    padding: 0px 0px 0px 12px;
    outline: none !important;
    float:left;
}
.button_grey_round:hover {
    background-position: right bottom;
    text-decoration:none !important
}
.button_grey_round:hover span {
    background-position: left bottom;
    color: #333;
}
/*******************************************************************************
  MODAL BOX OVERRIDE
*******************************************************************************/
.ui-dialog {
    padding:0px !important;
    border: none 0 !important;
    font-size: 12px !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}
.ui-dialog .ui-dialog-titlebar {
    padding-left:5px !important;
    padding-top:3px !important;
    padding-bottom:3px !important;
    padding-right:5px !important;
    position:relative;
    border-bottom: none !important;
    font-size:13px !important;
}

/*.ui-dialog .ui-dialog-content {
border: 1px solid #AAAAAA !important;
}*/
.ui-widget-overlay {
    background:#000 !important;
    opacity:0.7 !important;
}
h5 {
    margin:0!important;
    font-size:10px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:normal;
}

h6 {
    margin:0!important;
    color: #4985B2;
}
#invites_parent {
    padding:3px 3px 0; margin:5px auto;
}

#invites_parent span {
    padding:3px 20px 3px 6px;
    position:relative;
    font:normal 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
    white-space:pre-wrap;
}
#invites_parent span a {
    position:absolute; right:8px; top:2px;
    font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none;
}
#invites_parent span a:hover { color:#ff0000; }
.ui-menu .ui-menu-item { white-space:nowrap; padding:0 10px 0 0; }

#ultimos_eventos .loading{
    float: left; margin-left: 198px; margin-top: 61px;
}
#ultimas_novedades .loading{
    float: left; margin-left: 198px; margin-top: 61px;
}
#links_clientes .loading{
    float: left; margin-left: 84px; margin-top: 74px;
}
#horarios_ciudades .loading{
    float: left; margin-left: 84px; margin-top: 74px;
}
#cumpleanios_del_dia .loading{
    float: left; margin-left: 198px; margin-top: 61px;
}
.buttons {font-size:10px;}
#invites_spans {
    padding:3px 3px 0; margin:5px auto;
}

#invites_spans span {
    padding:3px 20px 3px 6px;
    position:relative;
    font:normal 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
    white-space:pre-wrap;
}
#invites_spans span a {
    position:absolute; right:8px; top:2px;
    font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none;
}
.ui-menu .ui-menu-item { white-space:nowrap; padding:0 10px 0 0; }
#usuarios_mails {
    padding:3px 3px 0; margin:5px auto;
}

#usuarios_mails span {
    padding:3px 20px 3px 6px;
    position:relative;
    font:normal 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
    white-space:pre-wrap;
}
#usuarios_mails span a {
    position:absolute; right:8px; top:2px; 
    font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none;
}



#campo-reclamo{
    float:left;
    width:440px;
    height:270px;
    margin-top:5px;

}
#campo-reclamo-total{
    float:right;
    width:540px;
    height:270px;
    margin-top:25px;

}
#btn-agregar-editar{
    float:left;
}


#caja-adjuntar{
    float:right;
    width:520px;
    height:60px;
    background-color:#FDF8DB;
}
#campo-dialogo{
    float:left;
    width:520px;
    height:100px;
    background-color:#EEE;
}
#fecha-hora{
    text-align:center;
    float:left;
    width:120px;
    height:auto;
    margin-top:15px;

}
#fecha{
    margin:auto;
    height:70px;
    text-align:center;
    margin:0px 5px ;
}

#texto-cuadro-reclamo{
    float:left;
    width:380px;
    margin-left:5px;
    margin-top:5px;
    text-align:center;
    color:#999;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}
#fecha-usuario{
    float:left;
    width:107px;
    height:119px;
    border-right:1px solid #999; 
    margin-top:5px;

}
/**
        ****** Ui Components - utton model ************************************************
        **/

#page .content button {
    border:none;
    background:transparent;
    overflow:hidden;
    padding:0px;
}

.button:link			{ color:#8d8b8b;}
.button:visited 			{ color:#8d8b8b;}
.button:hover			{ background: url("../img/th_blue/button_default.png") repeat-x center -24px;border-color:#c8c7c7;color:#727070;}
.button:active			{ background: url("../img/th_blue/button_default.png") repeat-x center -48px;border-color:#c8c7c7;color:#4c4545;}
.button {
    cursor:default;
    color:#8d8b8b;
    padding:3px 12px;
    font-size:13px;
    line-height:14px;
    background: url("../img/th_blue/button_default.png") repeat-x center 0px;
    border:1px solid #dadada;
}

.butDef img,
.butSim img,
.button img {
    margin:0px;
}

.butDef:link			{ color:#8d8b8b; }
.butDef:visited 			{ color:#8d8b8b; }
.butDef:hover			{ background: url("../img/th_blue/button_default.png") repeat-x center -24px;border-color:#c8c7c7;color:#727070; }
.butDef:active			{ background: url("../img/th_blue/button_default.png") repeat-x center -48px;border-color:#c8c7c7;color:#4c4545; }

.butDef {
    cursor:default;
    color:#8d8b8b;
    padding:3px 12px;
    font-size:13px;
    line-height:14px;
    width:auto;
    text-align:center;
    background: url("../img/th_blue/button_default.png") repeat-x center 0px;
    border:1px solid #dadada;
}

.butSim:link			{ color:#8d8b8b;}
.butSim:visited 			{ color:#8d8b8b;}
.butSim:hover			{ color:#727070;}
.butSim:active			{ color:#4c4545;}

.butSim{
    cursor:default;
    color:#8d8b8b;
    padding:3px 8px;
    font-size:13px;
    line-height:14px;
}


.butNav{
    font-size:12px;
    line-height:12px;
    padding:1px 6px;
    color:#494949;
    text-decoration:none;
}

.butNav:link			{ color:#494949;}
.butNav:visited 			{ color:#494949;}
.butNav:hover			{ color:black;background:#F5F5F5;}
.butNav:active			{ color:#dbdbdb;background:#909090;}

.butPage {
    font-size:12px;
    line-height:12px;
    padding:0 6px;
    color:white;
    background:#404040;
    text-decoration:none;
}

.barNav{
    padding:10px 0;
    text-align:right;
}

.boton-nuevo{
    float:right;


    margin-right: 40px;
}