/* 
    Document   : print.css
    Created on : 14/03/2012, 13:06:57
    Author     : Usuario
    Description:
        Purpose of the stylesheet follows.
*/

* {
    margin: 0;
    padding: 0;
}

html {
    color: #666;
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
}
h1, h2 {
    padding: 5px 0;
    border-bottom: 1px solid #CCC;
    margin: 0 0 10px;
}
h1 {
    font-size: 16px;
}
h2 {
    font-size: 14px;
}

#main-container {
    margin: 2% 10%;
    padding-top: 1em;
}
h3 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 10px;
}
hr {
    border: 0 none;
    border-bottom: 1px solid #CCC;
    page-break-after: always;
}