/* 
    Document   : print.css
    Created on : 14/03/2012, 13:06:57
    Author     : Usuario
    Description:
        Purpose of the stylesheet follows.
*/

* {
    margin: 0;
    padding: 0;
}

html {
    color: #666;
    font-family: Arial, helvetica, sans-serif;
    font-size: 9pt;
}
h1, h2 {
    padding: 5pt 0;
    border-bottom: 1px solid #CCC;
    margin: 0 0 5pt;
}
h1 {
    font-size: 13pt;
}
h2 {
    font-size: 11pt;
}

#main-container {
    margin-left: 5%;
    padding-top: 1em;
}
.column {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding: 0 1%;
    *display: inline;
    zoom: 1;
}
dl {
    margin-bottom: 9pt;
}
dt {
    display: inline-block;
    width: 28%;
    vertical-align: top;
    font-weight: bold;
    margin: 0 0 5pt;
    *display: inline;
    zoom: 1;
}
dd {
    display: inline-block;
    width: 68%;
    vertical-align: top;
    margin: 0 0 8pt;
    *display: inline;
    zoom: 1;
}
hr {
    border: 0 none;
    border-bottom: 1px solid #CCC;
    page-break-after: always;
}