*
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
body
{
    margin: 0px;
}
.link a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #1587D2;
    text-decoration:none;
}
.resaltado
{
    background:#FFFF00;
}
form
{
    margin: 0px;
}
table.list
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #777777;
    text-decoration: none;
    border-top: 1px #CCCCCC solid;
    /*	border-left: 1px #CCCCCC solid;
    */}
table.list td
{
    border-bottom: 1px #CCCCCC solid;
    /*	border-right: 1px #CCCCCC solid;
    */}
table.buscar
{
    border: 1px solid #FF8737;
    width: 780px;
    text-align:center;
}
table.buscar td
{
    padding: 3px 5px 2px 15px;
}
table.panel td
{
    padding: 5px 5px 5px 5px;
}
.fila-visible
{
    display: block;
}
.fila-oculta
{
    display: none;
}
a
{
    text-decoration: none;
}
.encabezado-bg
{
    background: url(../images/encabezado-bg.jpg);
}
.encabezado-submenu-bg
{
    background: url(../images/encabezado-submenu-bg.jpg);
}
.encabezado-titulo-bg
{
    background: url(../images/encabezado-titulo-bg.jpg) top repeat-x #FFF7F2;
    border: 1px solid #FF8737;
}
.encabezado-titulo-texto
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FA4A1F;
}
.encabezado-formulario
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FA4A1F;
    font-weight: bold;
}
.encabezado-formulario input,
.encabezado-formulario select
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.usuario-bg
{
    background: url(../images/usuario-bg.jpg);
}
.usuario-nombre
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FA4A1F;
}
.usuario-ingreso
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FA4A1F;
}
.listado-fila-visible
{
    display: block;
}
.listado-fila-oculta
{
    display: none;
}
.listado-encabezado-bg
{
    background: url(../images/listado-encabezado-bg.jpg);
}
.listado-encabezado-texto
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    color: #137ABF;
}
.listado-contenido-inicio
{
    background: url(../images/listado-contenido-inicio.jpg);
}
.listado-contenido-final
{
    background: url(../images/listado-contenido-final.jpg);
}
.listado-fila-bg-1
{
    background: #FFFFFF;
}
.listado-fila-bg-2
{
    background: #F1F3FB;
}
.listado-texto
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #1587D2;
}
.listado-texto-chico
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #1587D2;
}
.listado-pie-bg
{
    background: url(../images/listado-pie-bg.jpg);
}
.informe-separador
{
    border-top: 1px solid #137ABF;
}
.informe-texto
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #777777;
    text-decoration: none;
}
table.informe-texto-chico td, table.informe-texto-chico th 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    padding: 2px 5px
}
a.informe-texto:hover
{
    text-decoration: underline;
}
.informe-textarea
{
    margin-bottom: 5px;
    margin-top: 5px;
    height: 300px;
    width: 760px;
}
.informe-imagen-acceso
{
    border: 1px solid #137ABF;
}
.formulario-encabezado-bg
{
    background: url(../images/formulario-encabezado-bg.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    color: #137ABF;
}
.formulario-contenido-inicio
{
    background: url(../images/formulario-contenido-inicio.jpg);
}
.formulario-contenido-final
{
    background: url(../images/formulario-contenido-final.jpg);
}
.formulario-etiquetas
{
    background: #F1F3FB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #1587D2;
}
.formulario-textbox
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.formulario-pie-bg
{
    background: url(../images/formulario-pie-bg.jpg);
}
.detalle-seccion
{
    border-bottom: 1px solid #137ABF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #1587D2;
    text-transform:uppercase;
}
.cblack{font-size:10px;color:#000 !important;}
/*.temp_new_ticket{
    float:right;
    margin-right:40px;
    margin-top:0px;
   *margin-top:10px;}*/