body
{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
form
{
	margin: 0px;
}
table.vista
{
	border: 1px #CCCCCC solid;
	border-collapse: collapse;
	font-size: 11px;
	margin: 5px auto;
}

table.vista td
{
	padding: 3px;
}